<mat-grid-list cols="3" rows="4" rowHeight="2:1">
  <mat-grid-tile [rowspan]="4">
    <app-battle-card></app-battle-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="3">
    <div class="buttons-container">
      <button mat-raised-button color="warn">HERO NAME</button>
      <button mat-raised-button color="warn">FIGHT</button>
      <button mat-raised-button color="warn">OPPONENT NAME</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="4">
    <app-battle-card></app-battle-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-powerups-list></app-powerups-list>
  </mat-grid-tile>
</mat-grid-list>
