mat-grid-tile {
  background: lightgoldenrodyellow;
}
::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
  /* display: block !important; */
  position: absolute;
  align-items: center;
}

.user-hero-name {
  color: green;
}

h1.mat-line {
  margin: 1rem auto;
  font-family: "Bangers", cursive;
  font-size: 2rem;
}

h2.mat-line {
  margin: 1rem auto;
  font-family: "Bangers", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

.mat-card {
  height: 500px;
}

.buttons-container {
  height: fit-content;
  text-align: center;
}

.mat-raised-button {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.no-powerups-message {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.flex-item {
  align-self: center;
}

@media (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-height: 1000px) {
  .flex-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
