.mat-dialog-actions {
  justify-content: space-between;
}

.mat-dialog-title {
  font-weight: 900;
  text-align: center;
  margin: 0 auto 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ff8640;
}
