p {
  font-family: Lato;
}

.mat-card {
  max-width: 75%;
  margin: 2rem auto;
}

.mat-card-avatar {
  background-color: lightgray;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}

.mat-card-content {
  display: flex;
}
.powerstats {
  flex-grow: 1;
}
.powerstats-wrapper {
  display: flex;
  justify-content: space-between;
}
.mat-line {
  text-align: center;
}

.favorite {
  cursor: pointer;
}

.favorite.is-favorite {
  fill: red;
  color: red;
}
