p {
  font-family: Lato;
}

.powerup-card {
  max-width: 300px;
  margin: 4px;
}

.powerup-header-image {
  background-size: cover;
}

.mat-card {
  margin: 2rem auto;
}

p.mat-line {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.no-uses-left {
  background-color: grey;
}
