h2.mat-line {
  font-size: 1rem;
  margin: 0;
}

h3.mat-line {
  margin: 0;
  font-size: 0.75rem;
}

.mat-card {
  max-width: 100%;
  margin: auto;
}

.mat-card-avatar {
  background-color: lightgray;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}

.mat-card-content {
  display: flex;
  align-items: center;
}
.powerstats {
  flex-grow: 1;
}

.mat-line {
  text-align: center;
}

.favorite {
  cursor: pointer;
}

.favorite.is-favorite {
  fill: red;
  color: red;
}

button {
  text-align: center;
}
