<mat-card>

    <mat-card-header>
        <div mat-card-avatar *ngIf="isHeroSelected(hero.id)"><button mat-mini-fab color="accent">
                <mat-icon>stars</mat-icon>
            </button>
        </div>
        <mat-card-title>{{ hero.name }}</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img mat-card-lg-image src="{{ hero.url }}" />

        <div class="powerstats">
            <h2 matLine> {{ 'Powerstats' | titlecase }} </h2>

            <div class="powerstats-wrapper">

                <div class="stat" *ngFor="let stat of getPowerStats(hero.powerstats)">
                    <h3 matLine>
                        {{ stat[0] | titlecase }}
                    </h3>
                    <p matLine>{{ stat[1] }}</p>
                </div>

            </div>

        </div>
    </mat-card-content>
    <mat-card-actions align="start">
        <div class="flex-spacer"></div>
        <button id="handle-selected-heroes" mat-button color="primary" [disabled]="showDisabled(hero)"
            (click)="clickHandler(hero)">{{ clickActionTitle | uppercase }}</button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
</mat-card>