<mat-card>
  <mat-card-header>
    <div mat-card-avatar *ngIf="isHeroSelected(hero.id)">
      <button mat-mini-fab color="accent">
        <mat-icon>stars</mat-icon>
      </button>
    </div>
    <mat-card-title
      [routerLink]="['/hero-info/', hero.id]"
      routerLinkActive="router-link-active"
      >{{ hero.name }}
    </mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img mat-card-lg-image src="{{ hero.url }}" />
    <div class="powerstats">
      <app-powerstats [powerstats]="hero.powerstats"></app-powerstats>
    </div>
  </mat-card-content>
  <mat-card-actions align="start">
    <div class="flex-spacer"></div>
    <button
      mat-raised-button
      id="re-selector"
      *ngIf="list === 'Selected'"
      color="accent"
      [disabled]="isLastSelected(hero.id)"
      (click)="reselectHero(hero)"
    >
      {{ "Select" | uppercase }}
    </button>
    <button
      id="handle-selected-heroes"
      mat-raised-button
      color="primary"
      [disabled]="showDisabled(hero)"
      (click)="clickHandler(hero)"
    >
      {{ clickActionTitle | uppercase }}
    </button>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
