<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <p>Menu</p>
    <button color="primary" mat-button routerLink="/heroes">Home</button>
    <button color="primary" mat-button routerLink="/login">Login test</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button *ngIf="isActiveSession$ | async" mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="">menu</mat-icon>
        </button>
        <span>Title</span>
        <span class="spacer"></span>
        <div *ngIf="isActiveSession$ | async">
          <button mat-mini-fab routerLink="/user">
            <mat-icon>person</mat-icon>
          </button>
          <button class="logout" color="warn" mat-button (click)="logout()">
            Logout
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>