@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.login-container .mat-card {
  width: 400px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
