.letter-wrapper {
  position: absolute;
  left: -4.5rem;
}
.hidden-list {
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.mat-mini-fab:hover {
  background-color: #fdba9a;
  color: #000000;
}

.mat-spinner {
  margin: 5rem auto;
}
