.heroes-page-container {
  position: relative;
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}
.letter-wrapper {
  position: absolute;
  left: -4.5rem;
}
.hidden-list {
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.mat-mini-fab:hover {
  background-color: #fdba9a;
  color: #000000;
}

.mat-spinner {
  margin: 5rem auto;
}

/* .mat-list .mat-list-item {
  background-color: #fff;
  border: 1px solid red;
  height: 25px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 25px;
} */
