.mat-card {
  max-width: 100%;
  margin: auto;
}

.mat-card-avatar {
  background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/679.jpg");
  background-size: cover;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}

.mat-card-content {
  display: flex;
}
.powerstats {
  flex-grow: 1;
}
.powerstats-wrapper {
  display: flex;
  justify-content: space-between;
}
.mat-line {
  text-align: center;
}

.favorite {
  /* width: 24px;
  height: 24px;
  fill: #bdc2c5; */
  cursor: pointer;
}
.favorite.is-favorite {
  fill: red;
  color: red;
}
